{% extends "backend_base.html" %}

{% load static %}

{% block content %}

<head>
  <title>Clients</title>
</head>

<!-- ==========   PAGE TITLE  -  BREAD CRUMBS   ==========  -->
<div class="breadcrumb">
    <a href="{% url 'clients' %}">
        <p>Dashboard > Clients</p>
    </a>
</div>


<!-- ============  CREATE CLIENT  ============-->
<div class="m-5">

  <h1 class="text-center">Create new client</h1>

    <form action="{% url 'crud_client' %}" method="post">
        {% csrf_token %}

        {{ new_client_form }}
        <button class="btn btn-raised btn-raised-success m-1" type="submit">+ Create Client</button>

    </form>

</div>


<!-- ============  CLIENTS TABL  ============-->
<div class="m-5">

  <h1 class="text-center">All Your clients</h1>

  <table class="table table-flush">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      {% for client in all_rm_clients %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ client.first_name }} {{ client.last_name }}</td>
          <td>{{ client.email }}</td>
          <td>
            <a class="btn btn-raised btn-raised-secondary m-1" href="{% url 'view_client' client_id=client.id %}" >View client</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


</div>


{% endblock %}

