{% extends "backend_base.html" %}

{% load static %}

{% block content %}

<head>
  <title>Clients</title>
</head>

<!-- ==========   PAGE TITLE  -  BREAD CRUMBS   ==========  -->
<div class="breadcrumb">
    <a href="{% url 'clients' %}">
        <p>Dashboard > Client</p>
    </a>
</div>


<!-- ============  Client CRUD  ============-->
<div class="m-5">
    <h1 class="text-center">Update Client</h1>
    <form action="{% url 'crud_client' %}" method="post">

        {% csrf_token %}
        {{ client_crud }}
        <input name="client_id" value="{{ client.id }}" hidden>

        <button class="btn btn-success">Edit client</button>

    </form>
</div>


<!-- ============  Client info  ============-->
<div class="m-5">
  <h1 class="text-center">Client Info</h1>

  <table class="table table-flush">
    <thead>
      <tr>
        <th>
          First name
        </th>
        <th>
          Last name
        </th>
        <th>
          Email
        </th>
        <th>
          Username
        </th>
        <th>
          Created on
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ client.first_name }}
        </td>
        <td>
          {{ client.last_name }}
        </td>
        <td>
          {{ client.email }}
        </td>
        <td>
          {{ client.username }}
        </td>
        <td>
          {{ client.profile.created_on_utc }}
        </td>
      </tr>
    </tbody>
  </table>

</div>


<!-- ============  Request document  ============-->
<div class="m-5">

  <h1 class="text-center">Request document from client</h1>
  <form action="{% url 'request_document' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ request_document_form }}
    {{ submit_document_form }}

    <button class="btn btn-success my-3">Create document request</button>

  </form>

</div>


<!-- ============  Email history  ============-->
<div class="m-5">
  <h1 class="text-center">"Request Document" Emails</h1>

  <table class="table table-flush">
    <thead>
      <tr>
        <th>
          Sender
        </th>
        <th>
          Recipient
        </th>
        <th>
          Subject
        </th>
        <th>
          Body
        </th>
        <th>
          UUID
        </th>
        <th>
          Created on
        </th>
      </tr>
    </thead>
    <tbody>
      {% for email in all_client_emails %}
      <tr>
        <td>
          {{ email.sender.email }}
        </td>
        <td>
          {{ email.recipient }}
        </td>
        <td>
          {{ email.subject }}
        </td>
        <td>
          {{ email.body }}
        </td>
        <td>
          {{ email.uuid }}
        </td>
        <td>
          {{ email.created_on_utc }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>


<!-- ============  Document history  ============-->
<div class="m-5">
  <h1 class="text-center">Documents</h1>

  <table class="table table-flush">
    <thead>
      <tr>
        <th>
          RM user
        </th>
        <th>
          Uploaded by
        </th>
        <th>
          Doc name
        </th>
        <th>
          File type
        </th>
        <th>
          Email subject
        </th>
        <th>
          Email body
        </th>
        <th>
          UUID
        </th>
        <th>
          document (AWS hyperlink)
        </th>

        <th>
          Created on
        </th>
      </tr>
    </thead>
    <tbody>
      {% for document in all_client_documents %}
      <tr>
        <td>
          {{ document.email.sender.email }}
        </td>
        <td>
          {{ document.uploaded_by.email }}
        </td>
        <td>
          {{ document.name }}
        </td>
        <td>
          {{ document.extension }}
        </td>
        <td>
          {{ document.email.subject }}
        </td>
        <td>
          {{ document.email.body }}
        </td>
        <td>
          {{ document.email.uuid }}
        </td>
        <td>
          <a class="btn btn-secondary btn-raised-secondary" target='_blank' href="{{ document.document.url }}">Download</a>
        </td>
        <td>
          {{ document.created_on_utc }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>



{% endblock %}

